* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --tt-primary-color: #B52184;
    --tt-secondary-color: #312D64;
    --bg-color: #F9F4FB;
    --bg-secundary-color: #312D64;
    font-size: 62.5%;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
    background-color: var(--bg-color);
    color: var(--tt-secondary-color);
}

h1,
h2 {
    color: var(--tt-primary-color);
}

p {
    color: var(--tt-secondary-color);
}

.container {
    max-width: 100%;
    height: auto;
    margin: 0 3.2rem;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.container h1 {
    font-size: 3.2rem;
    font-weight: bold;
    margin-top: 2rem;
}

.container p {
    font-size: 2rem
}

.container img:last-child {
    margin: 3.5rem 0 5rem;
}

.content {
    display: grid;
    background-color: var(--bg-secundary-color);

}

.content-item {
    display: grid;
    margin: 5rem auto 0;
    padding: 2rem;
    align-items: center;
    width: 35rem;
    height: 33rem;
    background-color: var(--bg-color);
    border-radius: 2rem;

}

.content-item:last-child {
    margin-bottom: 5rem;
}

.content-item h2 {
    margin: 1rem 0 1.5rem 0;
    font-weight: 900;
}

.content-item p {
    width: 26rem;
}

form {
    display: grid;
    margin: 4rem auto;
    align-items: center;
    width: 35rem;
    background-color: var(--bg-color);
    border-radius: 2rem;

}

form h2 {
    font-weight: 900;
    font-size: 3.2rem;
    margin: 2rem 0 4rem 0;
}

form input {
    height: 3.5rem;
    border: 2px solid var(--tt-secondary-color);
    border-radius: 1rem;
    background-color: var(--bg-color);
    color: var(--tt-secondary-color);
    margin-bottom: 2rem;
}

input::placeholder {
    display: flex;
    justify-content: center;
    color: var(--tt-secondary-color);
}

.message,
input {
    height: 5rem;
    width: 100%;
}

.message input::placeholder {
    padding-left: 1rem;

}

label {
    display: none;
}

.input-img {
    position: relative;
    display: inline-block;
}

.input-img input {
    padding-left: 3rem;
    width: 100%;
}

.input-img img {
    position: absolute;
    left: 5px;
    top: 10%;
}

button {
    margin-top: 10rem;
    width: 15rem;
    height: 4.5rem;
    background-color: var(--tt-secondary-color);
    color: var(--bg-color);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.stars {
    display: none;
}

footer {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-secundary-color);
    height: 7rem;
}

footer p {
    color: #fff;

}

@media screen and (min-width: 768px) {
    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 1rem 0 10rem;
        margin: 0 0 7rem 0;
    }

    .container img:first-child {
        height: 50rem;
        width: auto;
    }

    .container h1 {
        font-size: 4.8rem;
    }

    .container p {
        font-size: 2.4rem;
        margin-bottom: 17rem;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .container img:last-child {
        margin: 0;
        padding: 0;

    }

    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 2rem;
    }

    .content-item {
        margin: 6rem auto;

    }

    form {
        margin: 4rem 3rem;
        width: auto;
    }

    form h2 {
        font-size: 4.8rem;
    }

    form input {
        height: 4.5rem;
    }

    button {
        margin-top: 10rem;
        width: 20rem;
        height: 5rem;
    }

    .form {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form img {
        display: flex;
    }

}